<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content=" " name=" ">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Interests</h3>
                  <p>i am both a programmer and a 3D artist, i love to work with the unreal engine and i use MAYA,blender,zbrush and also adobe softwares for 3d work, and i also got knowledge about networking and some knowledge about web developing too .</p>
                  <h3>what do you think about the game industry </h3>
                  <p>its going down, to be honest, i feel that indie developers are the one 
                  who will make things work, what i mean is, in the old days ( the 20's) where video games were new, there were no genre or anything, people were just playing anything they see and developers were not afraid to expriment , something you don't see now, because they are afraid to lose there jobes but can't blame them 
                  <h3>do you feel you can make it through this alone ? </h3>
                  <p>
                  it's hard and its like betting in a casino,i don't know the outcome of all this,i may and also i may not win, but alteast i did something
                  so to answer this question i don't know but  i will just let the future decide meanwhile i keep working hard.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/witcher.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>